acryl-datahub==1.6.0.10
black==26.5.1
black[jupyter]==26.5.1
flake8==7.3.0
flaml[automl]==2.6.0
html5lib==1.1
ipykernel==7.3.0
jupyter==1.1.1
matplotlib==3.11.0
mdpdf==0.0.18
mysql-connector-python==9.7.0
notebook==7.6.0
openpyxl==3.1.5
opencv-python==5.0.0.93
pandas==3.0.4
paretoset==1.2.5
pptx2md==2.0.6
psycopg2-binary==2.9.12
PyMySQL==1.2.0
PyPDF2==3.0.1
pymongo==4.17.0
python-dotenv==1.2.2
pyyaml==6.0.3
pytz==2026.2
rapidfuzz==3.14.5
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
sentence_transformers==5.6.0
six==1.17.0
SQLAlchemy==2.0.51
tabulate==0.10.0
tqdm==4.68.3
ultralytics==8.4.89
urllib3==2.7.0
xlrd==2.0.2
xgboost==2.1.4
yfinance==1.5.1
